body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

main {
    margin: 20px 10%;;
    flex: 1;
}

fieldset {
    display: flex;
    flex-flow: column;
}

fieldset>* {
    font-size: 1.2em;
}

textarea {
    resize: none;
    padding: 2px 8px;
}

button {
    background-color: black;
    color: white;
    border: 0;
    height: 48px;
    width: 134px;
}

label + * {
    margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
    main {
        width: 100%;
        margin: 20px 0%;
        display: flex;
        justify-content: center;
    }

    form {
        min-width: min-content;
        width: 90%;
    }

    button {
        width: auto;
    }
}

@media only screen and (max-width: 460px) {
    fieldset {
        align-items: center;
    }

    fieldset>*:not(legend) {
        box-sizing: border-box;
        width: 100%;
    }
}