@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font: 16px 'B612', sans-serif;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

.desktop {
    display: none;
}

.image {
    width: 15.625vh;
    height: 15.625vh;
    flex: 0 0 15.625vh;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.placeholder {
    background-color: rgb(189, 189, 189);
}

.navbar {
    display: flex;
    height: 57px;
    align-content: center;
    border-bottom: 2px solid black;
}

.navbar>* {
    margin: 16px;
}

.navbar>h5 {
    flex: 1;
    font-size: 1.2rem;
}



.hero {
    height: calc(100vh - 57px);
}

.hero>div {
    position: relative;
    left: 5.3vw;
    top: 36.25vh;
    max-width: 70vw;
}

.hero button {
    display: flex;
    width: 32.5vw;
    height: 7.5vh;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}

.hero>div>* {
    margin: 0;
    margin-bottom: 1rem;
}

.featured-items>h3 {
    margin: 39px auto;
}

.featured-item {
    min-height: 28.125vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.featured-text {
    flex: 0 0 50vw;
}

#item1, #item3 {
    background-color: rgb(245, 245, 245);
}

#item2 {
    background-color: rgb(224, 224, 224);
    flex-flow: row-reverse;
}

.about {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.about-image {
    border-radius: 50%;
}

.about-text {
    flex: 0 0 50vw;
}

.partners {
    align-items: center;
    min-height: 100vw;
}

.partners-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    max-width: 68vw;
    min-height: 68vw;
}

.partners-images>div {
    min-height: 28vw;
    min-width: 28vw;
    margin-bottom: 40px;
}

footer {
    align-items: center;
    height: 137px;
    border-top: 2px solid black;
}

.media {
    width: 50vw;
    display: flex;
    flex-flow: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

footer>h6 {
    margin-top: 0;
}

footer>h6::before {
    content: "\00A9";
    font-size: 1rem;
}

.cart {
    position: fixed;
    right: 10vw;
    bottom: 8vh;
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1280px) {
    .navbar {
        padding: 0 10vw;
    }

    .partners-images {
        justify-content: space-between;
        align-content: space-between;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 18px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .navbar>h5 {
        flex: 0;
        margin-right: 4vw;
        font-size: 1.2em;
    }

    .desktop-nav {
        display: flex;
        flex-flow: row;
        flex: 1;
        align-items: center;
    }

    .desktop-nav>div + div {
        margin-left: 4vw;
    }

    .account>* + * {
        margin-left: 4px;
    }

    .search {
        margin: auto;
    }

    #search-box {
        margin-right: 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 4px 12px;
        width: 15vw;
        font-size: 18px;
    }    

    .image {
        height: 200px;
        width: 200px;
        flex: 0 0 200px;
        margin: 32px;
    }

    .featured-item {
        padding: 0 20vw;
        display: grid;
        grid-template-columns: 1fr 488px 1fr;
        grid-template-rows: auto;
    }

    .featured-item>.featured-image {
        align-self: center;
        justify-self: center;
    }

    #item2>.featured-image {
        grid-column: 3;
        grid-row: 1;
    }
    
    #item2>.featured-text {
        grid-column: 2;
        grid-row: 1;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 488px 1fr;
        padding: 0 20vw;
    }

    .about-image {
        grid-row: 1;
        grid-column: 3;
        justify-self: center;
        align-self: center;
    }

    .about-text {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    .partners {
        min-height: 0;
    }

    .partners-images {
        min-height: 0;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    .partners-images>div {
        max-height: 10vw;
        max-width: 10vw;
        min-height: 192px;
        min-width: 192px;
        margin: 40px;
    }

    .media {
        width: 10vw;
    }
}